
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml

.idea/libraries/Maven__junit_junit_3_8_2.xml

*.class

.settings/org.eclipse.jdt.core.prefs

.classpath

.idea/*
.project

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.m2e.core.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

src/main/webapp/doc/html5-music-player.zip

src/main/webapp/doc/html5-music-player/*
